/* body {
  background-color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
}
.lists {
  margin-top: 100px;
  display: inline-block;

} */
.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blanchedalmond;
    padding: 20px;
}
img {
    height: 90px;
    width: 90px;
    margin: 5px;
  }
  #btn {
    display: none;
  }
  #reset {
    display: none;
  }
  